

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #47e1d7ca; height:80px" >
    
    <a class="navbar-brand" routerLink='./home'  routerLinkActive="active" >
        <img class="align-middle" src="../assets/pngegg.png" width="55" height="55" class="d-inline-block align-top" alt="" loading="lazy">
        <span class="align-middle">{{title}}</span>
    </a>
    
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" *ngIf="loginbutton" routerLink='./home' routerLinkActive="active">Home </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" *ngIf="loginbutton" routerLink='./login' routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" *ngIf="loginbutton" routerLink='./register' routerLinkActive="active">Create Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="signoutButton" routerLink='./profile' routerLinkActive="active">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="signoutButton" routerLink='./bsmanager' routerLinkActive="active">Blood Sugar Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="signoutButton" routerLink='./mealplanner' routerLinkActive="active">Meal Planning</a>
            </li>
            <li class="nav-item">
                <button type="button" *ngIf="signoutButton" class="btn btn-block" (click)=logout()>LOGOUT</button>
            </li>
            
        </ul>
    </div>
</nav>