<body class="body" style="background-color: #d7fffcdf; height: 600px;"> 
    <div class="container">
        <div class="center">
          <h1 >Welcome Back!</h1>
        </div>

        <div class="center">
          <h6 *ngIf='message'>
            {{message}}
          </h6>
        </div>

        <form [formGroup]= "loginForm" (ngSubmit)="onSubmit(loginForm)">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off" >
            <div class="alert alert-warning" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">Enter username.</div>
          </div>
    
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" formControlName="password" id="password" autocomplete="off">
            <div class="alert alert-warning" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">Enter password.</div>
          </div>
   
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="remember">
            <label class="form-check-label" for="remember">Remember Me</label>
          </div>

          <br>
          <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Sign In</button>
     
          <div class="alert alert-danger" *ngIf="invalidLogin">
              <div> Invalid username or password. </div>
          </div>
    
        </form>
      
    </div>
    </body>
    
    