<h2> LOGIN </h2>
<div class="container">
  
    <h2 style="margin:auto">Welcome Back!</h2>
    <h4 *ngIf='message'>
      {{message}}
    </h4>
    <form [formGroup]= "loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off" >
        <div class="alert alert-danger" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">Enter username.</div>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="password" autocomplete="off">
        <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Enter password.</div>
      </div>

      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="remember">
        <label class="form-check-label" for="remember">Remember Me</label>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Sign In</button>
      <div *ngIf="invalidLogin" class="error">
          <div> Invalid username or password. </div>
      </div>

    </form>
  
</div>



