form {
    width: 500px;
    height: 100px;
    margin: auto;
    position: relative;
}

#divChart{
    display:block;
    width: 800px;
    height: 800px;
    margin:auto;
    position:relative;
}

table {
    width: 100%;
  }
  
  button {
    margin: 0 8px 8px 0;
  }