<body class="body" style="background-color: #d7fffcdf; height: 600px;"> 
    <div class="container">
        <div class="center">
          <h3>Blood Sugar Manager</h3>
        </div>
        <br>

        <form [formGroup]= "bsform" (ngSubmit)="onSubmit(bsform)">
            <div class="form-group row">
                <label for="bs" class="col-sm-6 col-form-label">How are we reading today?</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" formControlName="bs" id="bs" placeholder="mg/dl">
                </div>
                <button type="submit" class="btn btn-outline-dark" [disabled]="bsform.invalid">Post</button>
            </div>
        </form>      

        <div class="container">
            <table class="table table-hover table-sm table-borderless">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Blood Sugar</th>
                        <th scope="col">Average Reading</th>
                    </tr>
                    
                </thead>
                <tbody class="table-light">
                    
                </tbody>

            </table>
        </div>
    </div>
</body>