<body class="body" style="background-color: #d7fffcdf; height: 2000px;"> 
    <div class="container">
        <div class="center">
          <h1><strong>Blood Sugar Manager</strong></h1>
        </div>
        <br>

        <app-sugarentry></app-sugarentry>

        <div class="center">
            <h2><strong>Blood Sugar Statistics</strong></h2>
          </div>

        <!--<div class="container">
            <div class="center">
            <table class="table table-hover table-sm table-borderless" style="width: 500px;">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Average Blood Sugar</th>
                        <th scope="col">A1C*</th>
                    </tr>
                    
                </thead>
                <tbody class="table-light">
                    <tr *ngFor="let info of statistics">
                        <td>{{info['avgsugar']}}</td>
                        <td>{{info['a1c']}}</td>
                    </tr>
                </tbody>

            </table>
            
            </div>
        </div>-->

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="data" >
          
              <!-- id Column -->
              <ng-container matColumnDef="avgSugar">
                <th mat-header-cell *matHeaderCellDef><strong>Average Blood Sugar</strong></th>
                <td mat-cell *matCellDef="let stats">{{stats.avgsugar}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="blooda1c">
                <th mat-header-cell *matHeaderCellDef> <strong>A1C*</strong> </th>
                <td mat-cell *matCellDef="let stats"> {{stats.a1c}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

        <br>
            <p>*A1C is an estimate. In order to have a more accurate estimate, A1C needs at least 3 months of blood sugar data.</p>


        <br>
        <div class="center">
            <h2><strong>Past Blood Sugar Readings</strong></h2>
          </div> 

        <!--<div class="container">
            <div class="center">

            <table class="table table-hover table-sm table-borderless" style="width: 500px;">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Blood Sugar</th>
                    </tr>
                    
                </thead>
                <tbody class="table-light">
                    <tr *ngFor="let data of informacion">
                        <td>{{data['date'] | date: "medium"}}</td>
                        <td>{{data['sugar']}}</td>
                    </tr>
                </tbody>
                
            </table>
            </div>
        
        </div>-->

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- date Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Date</strong></th>
                <td mat-cell *matCellDef="let entries">{{entries.date}} </td>
              </ng-container>
          
              <!-- readings Column -->
              <ng-container matColumnDef="sugar">
                <th mat-header-cell *matHeaderCellDef> <strong>Blood Sugar</strong> </th>
                <td mat-cell *matCellDef="let entries"> {{entries.sugar}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
            <mat-paginator [length]="length" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

          </div>
          <br>
        <br>
        <div class="center">
            <h2><strong>Reading Flunctuations</strong></h2>
        </div>
        <div class="center">
            <div id="divChart">
                <canvas id="ctx"></canvas>
            </div>
        </div>
    </div>
</body>