<body class="body" style="background-color: #d7fffcdf; height:600px;" > 
    <div class="container">
    
        <h2>Welcome USERNAME</h2>

        <p>Would you like to post a diary entry today?</p>

        <p>//post functionality here</p>

        <p>Need to plan for a meal? Click here. (Route to meal planning)</p>

        <p>Want to see blood sugar history? Click here. (Route to blood sugar management)</p>

        <p>Need to change med requirements? Click here. (Route to Settings)</p>

    
    </div>


</body>