<body class="body" style="background-color: #d7fffcdf; height:2000px;" > 
    <div class="container">
    
        <h2>Hello <strong>{{user}}</strong></h2>
        <br>

        <form [formGroup]= "postForm" (ngSubmit)="onSubmit(postForm)">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="post" id="post" placeholder="Would you like to post a public diary entry today?">
                <button type="submit" class="btn btn-outline-dark" [disabled]="postForm.invalid">Post</button>
            </div>
        </form>      

        <div class="container">
            <table class="table table-hover table-sm table-borderless">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Peer</th>
                        <th scope="col">Entry</th>
                        <th scope="col">Last Posted</th>
                    </tr>
                    
                </thead>
                <tbody class="table-light">
                    <tr *ngFor="let data of posts">
                        <td>{{data['uname']}}</td>
                        <td>{{data['thought']}}</td>
                        <td>{{data['time']}}</td>
                    </tr>
                </tbody>
    
            </table>
        </div>
        <br>
        <h3>Meal Planning</h3>
        <p>Need to plan for a meal? Click here. (Route to meal planning)</p>
        <br>
        
        <h3>Blood Sugar Management</h3>
        <p>Want to see blood sugar history? Click here. (Route to blood sugar management)</p>
        <br>

        <h3>Have your meds changed lately?</h3>
        <p>Click here. (Route to Settings)</p>

    
    </div>


</body>