<body class="body" style="background-color: #d7fffcdf; height:2000px;" > 
    <div class="container">
    
        <h2>Hello <strong>{{user}}</strong></h2>
        <br>

   
        <form [formGroup]= "postForm" (ngSubmit)="onSubmit(postForm)">
            <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="post" placeholder="Would you like to post a public diary entry today?" aria-label="post">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit" [disabled]="postForm.invalid">POST</button>
                </div>
              </div>
            <!--<div class="form-group">
                <input type="text" class="form-control" formControlName="post" id="post" placeholder="Would you like to post a public diary entry today?">
                <button type="submit" class="btn btn-outline-dark" [disabled]="postForm.invalid">Post</button>
            </div>-->
        </form>      

       <!-- <div class="container">
            <table class="table table-hover table-sm table-borderless">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Peer</th>
                        <th scope="col">Entry</th>
                        <th scope="col">Last Posted</th>
                    </tr>
                    
                </thead>
                <tbody class="table-light">
                    <tr *ngFor="let data of posts">
                        <td>{{data['uname']}}</td>
                        <td>{{data['thought']}}</td>
                        <td>{{data['time']}}</td>
                    </tr>
                </tbody>
    
            </table>
        </div>-->
        
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <!-- id Column -->
              <ng-container matColumnDef="peer">
                <th mat-header-cell *matHeaderCellDef> <strong>Peer</strong></th>
                <td mat-cell *matCellDef="let post">{{post.uname}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="post">
                <th mat-header-cell *matHeaderCellDef> <strong>Entry</strong> </th>
                <td mat-cell *matCellDef="let post"> {{post.thought}} </td>
              </ng-container>

              <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> <strong>Last Posted</strong> </th>
                <td mat-cell *matCellDef="let post"> {{post.time}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="length" [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

          </div>

        <br>
        <h3>Meal Planning</h3>
        <p>Need to plan for a meal? Click here. (Route to meal planning)</p>
        <br>
        
        <h3>Blood Sugar Management</h3>
        <p>Want to see blood sugar history? Click here. (Route to blood sugar management)</p>
        <br>

        <h3>Have your meds changed lately?</h3>
        <p>Click here. (Route to Settings)</p>

    
    </div>


</body>