<body class="body" style="background-color: #d7fffcdf; height: 900px" > 
    <div class="container">
        <h3 class="title">About askGlu</h3>
        
        <dl>
            <dt>Have you ever struggled with juggling multiple applications 
                to manage your diabetes?  
            </dt>
                <dd>askGlu is for you! askGlu provides you with meal planning, 
                    insulin decision-making, medication reminders, blood sugar 
                    level tracking. No need to go to resort to an application to 
                    get total carbohydrate counts to then have to use a calculator 
                    for an insulin dose! askGlu integrates all needs when it comes
                    time to eat providing as seamless an experience as possible. 
                </dd>
            <dt>Have you ever felt alone in your daily struggles with diabetes? 
                Do you not feel understood by your community even if you're loved?
            </dt>
                <dd>YOU ARE NOT ALONE. askGlu provides you with a community going
                    through exactly what you are! 
                </dd>
            <dt>Have you ever wanted to share your diabetes' decisions with a loved
                one or your medical practitioner?
            </dt>
                <dd>askGlu allows you to share your blood sugar trends and estimated A1C 
                    reading with one support person.
                </dd>
        </dl>
        
    </div>
    <div class="container">
        <h3 class="title">About Founder</h3>
        <p>Carina first discovered she was a diabetic when 
            she was rushed to the emergency room with a blood sugar 
            reading of 525 the first day of her sophomore year of 
            college. She was 19 and had never felt so alone. She was 
            forced to stay in the hospital until she was knowledgable 
            of what it took to care for her diabetes--how to calculate
            ratios, meal plan, inject insulin, etcetera. She had to start
            a new diet. She had to start a new life. All the applications
            which were recommended for her all sucked. Therefore, 6 years
            later, she decided to create a community tool that also helps
            diabetics to manage their lives.</p>
    </div>
</body>